/old
desktop.ini
data/bin/my-tarql
data/INRA/data/genetic_data/rdf/accessions.ttl
data/INRA/data/genetic_data/rdf/varieties.ttl
data/INRA/data/plot_management/irrigation/rdf/irrigationEvents.ttl
data/INRA/data/plot_management/maturation_data/rdf/grapeMaturationBrix.ttl
data/INRA/data/plot_management/maturation_data/rdf/grapeMaturationPh.ttl
data/INRA/data/plot_management/maturation_data/rdf/grapeMaturationProbablealcohol.ttl
data/INRA/data/plot_management/maturation_data/rdf/grapeMaturationSugars.ttl
data/INRA/data/plot_management/maturation_data/rdf/grapeMaturationTotalacdity.ttl
data/INRA/data/plot_management/plot_data/rdf/annualProduction.ttl
data/INRA/data/plot_management/plot_data/rdf/annualYield.ttl
data/INRA/data/plot_management/plot_soil_texture/rdf/plotSoilTexture.ttl
data/INRA/data/sensory_analysis/afterBottling/rdf/afterBottling.ttl
data/INRA/data/sensory_analysis/beforeBottling/rdf/beforeBottling.ttl
data/INRA/data/winemaking_activities/fermentation_objects/rdf/crushingObject.ttl
data/INRA/data/winemaking_activities/fermentation_objects/rdf/fermentationObjects.ttl
data/INRA/data/winemaking_activities/fermentation_objects/rdf/freeRunJuiceObjects.ttl
data/INRA/data/winemaking_activities/fermentation_objects/rdf/linkmustFermentationObjects.ttl
data/INRA/data/winemaking_activities/fermentation_objects/rdf/malolacticFermentationObjects.ttl
data/INRA/data/winemaking_activities/fermentation_objects/rdf/pressJuiceObjects.ttl
data/INRA/data/winemaking_activities/fermentation_objects/rdf/wineObjects.ttl
data/INRA/data/winemaking_activities/laboratory/must/initial_must_data/rdf/initialMustData.ttl
data/INRA/data/rdf
